@model EmployeeEvaluation.Models.Structure
@{
    ViewBag.Title = "Struktura firmy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Struktura firmy</h3>
<br>
<canvas id="myCanvas" width="800" height="100"></canvas>
@section Scripts {
    @Scripts.Render("~/Scripts/myStructure.js")
}
<script>
    myStructure(@Html.Raw(Json.Encode(Model)));
</script>

