@{
    ViewBag.Title = "O pracy";
}
<h2>@ViewBag.Title</h2>


<p>Przedmiotem niniejszej pracy jest <b>system wspomagający proces oceny okresowej pracownika</b>. <br />
    Zależy mi na tym, aby aplikacja była prosta w obsłudze, a jednocześnie spełniała podstawowe założenia 
    wynikające ze specyfiki procesu ewaluacji pracowniczej. <br />
    Ponadto chcę, aby program stworzony przeze mnie był łatwy w modyfikacji i testowaniu. 
    Taki system ułatwi ustandaryzowanie i zautomatyzowanie znacznej części procesów związanych z powyższymi zagadnieniami.</p>

