@{
    ViewBag.Title = "Strona Główna";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content("~/Content/images/logo_eu.png")" />
        </div>
        <div class="col-md-9">
            <h4>PRACA INŻYNIERSKA</h4>
            <h3>Baza danych i aplikacja systemu oceny okresowej pracownika.</h3>

        </div>
    </div>
</div>

