@{
    ViewBag.Title = "Strona Główna";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content("~/Content/images/logo_eu.png")" />
        </div>
        <div class="col-md-9">
            <h1>PRACA INŻYNIERSKA</h1>
            <h2>Baza danych i aplikacja systemu oceny okresowej pracownika.</h2>

        </div>
    </div>
</div>

