
@{
    ViewBag.Title = "PersonalDataChanged";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Dane użytkownika zaktualizowano pomyślnie.</h3>
<h3>Aby zobaczyć zmiany należy się przelogować.</h3>

