@{
    ViewBag.Title = "Strona Główna";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content("~/Content/images/logo_eu.png")" />
        </div>
        <div class="col-md-9">
            <h3>Konto zostało pomyślnie zarejestrowane</h3>
            <h3>i czeka na akceptację administratora.</h3>
        </div>
    </div>
</div>


